.nav-container {
  font-size: 17px;
  font-weight: 700;
  color: white !important;
  border-bottom: 1px solid rgb(4, 162, 125);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(2, 40, 110) !important;
}
.navbar-brand {
  font-weight: 900;
  color: rgb(11, 242, 100) !important;
  font-style: italic;
  letter-spacing: 5px;
  font-size: 25px !important;
}
.navbar-brand:hover {
  color: rgb(25, 182, 72) !important;
}
.d-flex {
  margin-left: 10rem;
}

.btn {
  margin: 10px;
}

.search-bar {
  width: 30vw;
  height: 5vh;
}

.search-btn {
  margin-top: -0.001px;
  height: 5vh;
}
.profile-btn {
  list-style-type: none !important;
}
